<div class="row">
    <div class="column4 item">
        <div class="section shadow white rc">
            <div class="item-title"><span class="font-blue icon-upload-cloud"></span><span class="item-title-text">Upload</span></div>
            <div class="item-text">Upload your favorite books in <strong class="djvu">djvu</strong> or <strong class="pdf">pdf</strong></div>
        </div>
    </div>
    <div class="column4 item">
        <div class="section shadow white rc">
            <div class="item-title"><span class="font-yellow icon-laptop"></span><span class="item-title-text">Access</span></div>
            <div class="item-text">Read your books on any device with web-browser</div>
        </div>
    </div>
    <div class="column4 item">
        <div class="section shadow white rc">
            <div class="item-title"><span class="font-green icon-book-open"></span><span class="item-title-text">Read</span></div>
            <div class="item-text">Our service remembers the page where you stopped reading</div>
        </div>
    </div>
</div>
<div class="section shadow try white rc">
    <% if signed_in? %>
    Please <%= link_to( "<span class='genericon genericon-cloud-upload'></span>Upload".html_safe, new_book_path, :class => 'btn big blue rc' ) %> and <%= link_to( "<span class='genericon genericon-book'></span>Read".html_safe, books_path, :class => 'btn green big rc' ) %> Your books
    <% elsif is_guest? %>
    Guest, to access all features, <%= link_to( "<span class='genericon genericon-facebook-alt'></span>Sign in with facebook".html_safe, user_omniauth_authorize_path(:facebook), :class => 'btn dark-blue big rc' ) %> or <%= link_to( "<span class='genericon genericon-key'></span>Sign up".html_safe, new_user_registration_path, :class => 'btn yellow big rc' ) %>
    <% else %>
    <%= link_to( "<span class='genericon genericon-reply'></span>Try It Now!".html_safe, try_as_guest_books_path, :class => 'btn big red rc' ) %>
    or
    <%= link_to( "<span class='genericon genericon-key'></span>Sign up".html_safe, new_user_registration_path, :class => 'btn big yellow rc' ) %>
    and get access to all features
    <% end %>
</div>
<div class="section shadow white rc">
<h2>Overview</h2>
<p>
  DPReader allows you to store and read books in PDF and DJVU formats from different devices.
  You don’t need to remember the page where you stopped reading because this is done by DPReader.
</p>
<p>
  For example, you can start reading the book on your tablet, and continue on your laptop.
</p>
<p>
    Application was created with the use of <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>,
    <%= link_to "pdf.js", "http://mozilla.github.io/pdf.js/" %>,
    <%= link_to "Postgres", "http://www.postgresql.org/" %> and other nice Open Source Software!
</p>
</div>
<div class="section shadow white rc">
    <h2>Plans for the Future</h2>
    <ul>
        <li>Integration with <span class="icon-dropbox font-blue"></span>Dropbox, Google Drive, Yandex Disk,</li>
        <li>working with large PDF and DJVU files,</li>
        <li>release a DPReader app for <span class="icon-android font-green"></span>Android and <span class="icon-appstore font-grey"></span>iOS.</li>
    </ul>
</div>