<div class="row">
    <div class="column4 item">
        <div class="section shadow white rc">
            <div class="item-title"><span class="font-blue icon-upload-cloud"></span><span class="item-title-text">Upload</span></div>
            <div class="item-text">Upload your favorite <strong class="djvu">djvu</strong> or <strong class="pdf">pdf</strong>  books</div>
        </div>
    </div>
    <div class="column4 item">
        <div class="section shadow white rc">
            <div class="item-title"><span class="font-yellow icon-laptop"></span><span class="item-title-text">Access</span></div>
            <div class="item-text">Read your books in any device with browser</div>
        </div>
    </div>
    <div class="column4 item">
        <div class="section shadow white rc">
            <div class="item-title"><span class="font-green icon-book-open"></span><span class="item-title-text">Reading</span></div>
            <div class="item-text">Our service always remembers the page where you stop reading</div>
        </div>
    </div>
</div>
<div class="section shadow try white rc">
    Please
    <%= link_to( "<span class='genericon genericon-reply'></span>Try It Now!".html_safe, try_as_guest_books_path, :class => 'btn big red rc' ) %>
    or
    <%= link_to( "<span class='genericon genericon-key'></span>Sign up".html_safe, new_user_registration_path, :class => 'btn big yellow rc' ) %>
    and get access to all features
</div>
<div class="section shadow white rc">
<h2>Overview</h2>
<p>
    DPReader providing service to store and read your books in PDF and DJVU in one place from different devices.
    You never need to remember page where you stop reading because DPReader do it.
</p>
<p>
    Application created by using <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>,
    <%= link_to "pdf.js", "http://mozilla.github.io/pdf.js/" %>,
    <%= link_to "Postgres", "http://www.postgresql.org/" %> and other nice Open Source Software!
</p>
</div>
<div class="section shadow white rc">
    <h2>Plans for the Future</h2>
    <ul>
        <li>Integration with Dropbox, Google Drive, Yandex Disk,</li>
        <li>working with large PDF and DJVU files,</li>
        <li>release Android and iOS app with DPReader integration.</li>
    </ul>
</div>