<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<% if current_user %>
    <%= link_to "Upload book", new_book_path %>
    <p>Limit: <%= current_user.books.count %> / <%= Book::MAX_BOOKS_COUNT %> </p>
<% end %>

<% @books.each do |book| %>
    <h2><%= book.name %></h2>
    <% if book.bookcover? %>
        <%= image_tag book.bookcover_url %>
    <% end %>
    <ul>
      <% if book.djvu_state && !book.djvu_state?(:finished) %>
        <li>Wait until your djvu will be process. It takes 5 - 15 minutes.</li>
      <% else %>
        <li><a href=<%="/books/#{book.id}/viewer?#page=#{book.page}"%>> Read now </a></li>
      <% end %>
      <li>Page - <%= book.page %></li>
      <% if book.progress %>
        <li>Progress - <%= book.progress %>%</li>
      <% end %>
      <li>Last Read - <%= book.last_access || "Not Read Yet" %></li>
      <li>Format - <%= book.bookfile.file.extension %></li>
      <% if book.djvu_state %>
        <li>Djvu processing status - <%= book.djvu_state %></li>
      <% end %>
      <% if current_user && !book.djvu_state?(:processing) %>
        <%= link_to "Delete book", book_path(book), :method => :delete %>
      <% end %>
    </ul>
<% end %>
