<div class="section book shadow white rc">
<!--<h2>My Books</h2>-->
<% if current_user %>
    <div class="row ">
        <div class="column6 limit"><span class="icon-archive font-green"></span> Books limit: <%= current_user.books.count %> / <%= Book::MAX_BOOKS_COUNT %></div>
        <div class="column6 text-right">
            <%= link_to( "<span class='genericon genericon-cloud-upload'></span>Upload book".html_safe, new_book_path, :class => 'btn big blue rc' ) %>
        </div>
    </div>
<% elsif is_guest? %>
    Guest can read only this PDF. To access Uploading and other features, &nbsp;&nbsp;<%= link_to( "<span class='genericon genericon-facebook-alt'></span>Sign in with facebook".html_safe, user_omniauth_authorize_path(:facebook), :class => 'btn dark-blue rc' ) %>&nbsp;&nbsp; or &nbsp;&nbsp;<%= link_to( "<span class='genericon genericon-key'></span>Sign up".html_safe, new_user_registration_path, :class => 'btn yellow rc' ) %>
<% end %>
  <% if current_user.dropbox_user? %>
    <%= link_to 'Refresh Dropbox Folder', dropbox_refresh_folder_path %>
  <% end %>

</div>

<div class="row">
    <% @books.each do |book| %>
    <div class="column6">
        <div class="section book-item shadow white rc">
            <a href=<%="/books/#{book.id}/viewer?#page=#{book.page}"%> class="title" title="<%= book.name %>" >
                <% if book.name.try(:length).to_i > 37%>
                    <%= book.name[0...37] %>...
                <% else %>
                    <%= book.name %>
                <% end %>
            </a>
            <% if book.dropbox_file %>
                <p style="color:blue"> Dropbox </p>
            <% end %>
            <% if book.dropbox_processing %>
                <p style="color:blue">  Linking with Dropbox </p>
            <% end %>
            <div class="row">
                <div class="column6">
                    <% if book.bookcover? %>
                        <a class="img" href=<%="/books/#{book.id}/viewer?#page=#{book.page}"%>>
                            <%= image_tag book.bookcover_url, :class => "border-x5-solid border-light-grey rc" %>
                        </a>
                    <% end %>
                </div>
                <div class="column6">
                    <div class="book-item-list">
                        <div class="li">Book format:
                            <% if book.bookfile %>
                                <% if book.bookfile.extension.to_sym == :pdf %>
                                <strong class="pdf">pdf</strong>
                                <% else %>
                                <strong class="djvu">djvu</strong>
                                <% end %>
                             <% end %>
                        </div>

                        <div class="li">Total pages: <strong class="font-blue"><%= book.pages_count %></strong></div>
                        <div class="li">Current page: <strong class="font-green"><%= book.page %></strong></div>
                        <% if book.progress %>
                        <div class="li">Progress:
                            <div class="progress">
                                <div class="unload">
                                    <div class="load" style="width: <%= book.progress %>%"></div>
                                    <div class="load-pct"><%= book.progress %>%</div>
                                </div>
                            </div>
                        </div>
                        <% end %>
                        <div class="li">Last Read: <br> <%= book.last_access || "Not Read Yet" %></div>

                        <% if book.djvu_state %>
                        <div class="li">Djvu processing status - <%= book.djvu_state %></div>
                        <% end %>

                        <% if book.djvu_state && !book.djvu_state?(:finished) %>
                        <div class="li">Wait until your djvu will be process. It takes 5 - 15 minutes.</div>
                        <% else %>
                        <div class="li"><a class="btn green rc" href=<%="/books/#{book.id}/viewer?#page=#{book.page}"%>><span class="genericon genericon-standard"></span>Read now </a></div>
                        <% end %>
                        <% if current_user && !book.djvu_state?(:processing) %>
                        <%= link_to "", book_path(book), :method => :delete, :confirm => "Are you sure for delete book?", :class => "genericon genericon-close-alt font-red" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>

