<div class="row ">
    <div class="column1 margin2"></div>
    <div class="column6 margin3">
        <div class="section form upload white shadow rc">
<h2>Upload book</h2>
<%= form_for @book, :html => {:multipart => true} do |f| %>
    <% if @book.errors.present? %>
        <%= @book.errors.full_messages.each do |msg| %>
            <p xmlns="http://www.w3.org/1999/html"><%= msg %></p>
        <% end %>
    <% end %>
    <div class="value">
        <%= f.text_field :name, :placeholder => "Book Title" %>
    </div>
    <span class="btn light-blue fileinput-button">
    <%= f.file_field :bookfile %>
    </span>
            <div class="btn-upload">
                <span>Maximum file size: <strong class="font-blue"> 30 MB</strong>.</span>
                <%= f.submit "Upload", :class => "btn big blue rc" %>
            </div>

<% end %>

<script>
  $(function () {
      $("#book_bookfile").change(function(){
          var fileSize = $("#book_bookfile")[0].files[0].size; //size in kb
          var fileSize = fileSize / 1048576; //size in mb
          if ( fileSize > 30 )
          {
              alert("Your file size more than 30 MB. Server can not accept file with size > 30 MB.")
          }
      })
  });
</script>
        </div>
    </div>
</div>
