<%= link_to "DPReader", root_path, :class => 'brand' %>

<ul class="nav">
  <% if params[:debug] %>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
  <% end %>
  <% if signed_in? %>
    <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
        <%= link_to 'My Books', books_path %>
    </li>
  <% elsif is_guest? %>
    <li>
        <%= link_to 'Register and Get Full Access!', new_user_registration_path  %>
        <%= link_to 'My Books', books_path %>
        <%= link_to 'Sign in', new_user_session_path %>
    </li>
  <% else %>
    <li>
        <%= link_to 'Try as Guest! (Goto books)', try_as_guest_books_path %>
        <%= link_to 'Register and Get Full Access!', new_user_registration_path  %>
        <%= link_to 'Sign in', new_user_session_path %>
    </li>
  <% end %>
</ul>
