<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "DPReader - Your djvu and pdf in a cloud" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "DPReader. Cloud djvu and pdf reader." %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-45189789-2']);
      _gaq.push(['_setDomainName', 'dprdr.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="fb-root"></div>
    <div id="wrapper">
      <header class="section white shadow rc">
          <div class="row">
              <div class="column5">
                  <div class="logo">
                      <span class="icon-book font-dark-blue"></span>
                      <a href="/">
                          <span class="name">DPReader</span>
                          <span class="slogan">Your <span class="djvu">djvu</span> and <span class="pdf">pdf</span> in a cloud</span>
                      </a>
                  </div>
              </div>
              <div class="column7">
                  <div class="authorization">
                      <%= render 'layouts/navigation' %>
                  </div>
              </div>
          </div>
      </header>
        <%= render 'layouts/messages' %>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer class="section shadow white rc">
          <div class="row">
              <div class="column7">DPReader © 2013 <a href="mailto:dpreaderfeedback@gmail.com">Contact</a></div>
              <div class="column5">
                  <div class="g-plusone" data-size="medium" data-href="http://dpreader.r13.railsrumble.com/"></div>
                  <div class="fb-like" data-href="http://dpreader.r13.railsrumble.com/" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>

              </div>
          </div>
      </footer>
      <div class="footer-clear"></div>
    </div> <!--! end of #wrapper -->
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=179380482252468";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Поместите этот тег за последним тегом виджета кнопка +1. -->
    <script type="text/javascript">
        window.___gcfg = {lang: 'en'};

        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
  </body>
</html>
